build
bin
.sconsign.dblite
*.pyc
*.xml
*.WSRMac
addon/doc/*.css
addon/doc/en/
*_docHandler.py
*.html
*.ini
*.mo
*.pot
*.pyc
*.nvda-addon
.sconsign.dblite
*.dll
*.exe
*.pdb
*.lib
*.exp
*.obj
.vscode
*.xml
*.WSRMac
*.tlb
*.obj
*.exe
*.pyc
*.lib
*.dll
.sconsign.dblite